[MASTER]
extension-pkg-whitelist=fwf_db._cython.fwf_db_cython
extension-pkg-allow-list=fwf_db._cython.fwf_db_cython

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]

# Remove before releasing source code
disable=fixme

# Current version of pylint is not working well with python type hints
# E1133: Non-iterable value x is used in an iterating context (not-an-iterable)
# E1136: Value 'rec1' is unsubscriptable (unsubscriptable-object)
#disable=E1133, E1136